apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# Include these labels in the pod template, but don't include them in selectors,
# as they are supposed to be immutable!
labels:
  - includeTemplates: true
    pairs:
      app.kubernetes.io/version: 235864e3e41125cda028a87b728d971e352e446a
commonLabels:
  app.kubernetes.io/instance: argocd-webhooks
  app.kubernetes.io/name: cd-webhooks-forwarder
resources:
  - ../../base
namespace: cd-webhooks-forwarder
images:
  - digest: sha256:4805ba49f70593c307fae9471301e7111c9dd668e2788adff6f49c0d096be62b
    name: lhr.ocir.io/lrdyqp2xtoja/cd-webhooks-forwarder
    newName: lhr.ocir.io/lrdyqp2xtoja/cd-webhooks-forwarder:sha-235864e3e41125cda028a87b728d971e352e446a
